/*==============================
    REGISTER
==============================*/

.register-card{

    max-width:520px;

    animation:fadeRegister .6s ease;

}

@keyframes fadeRegister{

    from{

        opacity:0;
        transform:translateY(20px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}