.banner{

    height:550px;

    display:flex;

    align-items:center;

    background:url("../img/banners/banner2.jpg") center/cover;

    position:relative;

}

.banner::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.6);

}

.banner-texto{

    position:relative;

    z-index:2;

    width:1300px;

    margin:auto;

}

.banner h2{

    font-size:4rem;

    font-family:var(--titulo);

    margin:20px 0;

}