header{

    width:100%;

    position:fixed;

    top:0;

    left:0;

    z-index:999;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 60px;

    background:rgba(13,13,13,.7);

    backdrop-filter:blur(15px);

}

.logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.logo span {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}

nav ul{

    display:flex;

    gap:35px;

}

nav a{

    transition:.3s;

}

nav a:hover{

    color:var(--vermelho);

}

.icons{

    display:flex;

    gap:25px;

    font-size:1.1rem;

}